* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

.numButtons {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  margin: 2px 0px 35px 0px;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}
.rangeContainer {
  margin-left: 33px;
  margin-bottom: 15px;
}

#countField {
  height: 30px;
  margin: 15px 0px 35px 0px;
}

.labelText {
  display: inline;
  font-size: 25px;
  margin: 2px 30px 35px 30px;
  vertical-align: center;
}

.outputText {
  text-align: center;
  font-size: 25px;
}
